@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&family=Ubuntu:wght@400&display=swap');

html {
  background: url(images/IndoorBall.jpg) no-repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 90%;
  border: 1px solid black;
  box-shadow: 3px 3px 10px 3px black;
  border-radius: 15px;
  margin: auto;
  background-color: rgba(198, 214, 153, 0.9);
  padding: 2em;
  padding-top: 0em;
}

h1 {
  text-align: center;
  padding: 0.5em;
  border: 1px dotted black;
  font-family: 'Rubik Puddles', cursive;
  font-size: 3em;
  text-shadow: 3px 3px 10px black;
  background-image: linear-gradient(to right, red, orange,yellow,green);
  border-radius: 15px;
}

nav{
  flex: 4;
  padding-right: 0.2em;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
}

nav li {
  padding: 15px;
  background-color: lightyellow;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 0.2em;
}

nav ul {
  padding-left: 0%;
  list-style: none;
  text-align: center;
  margin: 0em;
}

#selectedIndex{
  background-color: rgb(76, 76, 187);
}

#selectedIndex a{
  color: white;
}

#flexbox {
  display: flex;
}

main{
  flex: 6;
}

footer {
  margin-top: 1em;
  font-size: small;
  font-style: italic;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid black;
  border-radius: 15px;
  background-image: linear-gradient(to right, red, orange,yellow,green);
  font-weight: bold;
}

img{
    width: 200px;
    height: 150px;
}

iframe{
    width: 200px;
    height: 150px;
}

h2{
    text-align: center;
    background-color: rgb(76, 76, 187);
    color: white;
    margin: 0em 1em;
    border-radius: 20px;
    padding: 0.5em 0em;
}
#videoGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;	
    align-items: center;
    margin-top: 1em;
    background-color: lightyellow;
    padding: 2em;
    margin: 1em 2em;
}

#photoGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: lightyellow;
    margin: 1em 2em;
}